<!DOCTYPE html>
<html>
  <head>
    <title>DesafioDp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="assets/css/main.css" />
      <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  </head>

  <body>

    <%= yield %>

    <!-- Dependencias de JavaScript -->
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'browser.min' %>
<%= javascript_include_tag 'breakpoints.min' %>
<%= javascript_include_tag 'main' %>

  </body>
</html>
